@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1100px;
  margin: auto;
}

/* header start css */

header {
  background-color: #87509c;
}

header nav {
  padding-top: 58px;
}

header nav img {
  width: 116px;
  height: 36px;
  border-radius: 4px;
  color: #ffffff;
}

header nav ul {
  float: right;
}

header nav ul li {
  display: inline;
  margin-right: 27px;
}

header nav ul li a {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Titillium Web";
  text-decoration: none;
}

header .one,
header nav ul li a:hover {
  width: 77px;
  height: 32px;
  border-radius: 4px;
  background-color: #643a79;
  padding: 10px 17px;
}

/* header finish css */

.header-body h1 {
  font-size: 42px;
  line-height: 49px;
  color: #f7f3ea;
  font-weight: 700;
  font-family: "Titillium Web";
  text-align: center;
  padding-top: 150px;
  padding-bottom: 63px;
}

.header-body button {
  border-radius: 4px;;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Titillium Web";
  background-color: #eb7d4b;
  border: none;
  margin-left: 384px;
  margin-right: 229px;
  margin-bottom: 145px;
  padding: 28px 80px;
}
